.venv/
.git/
__pycache__/
*.pyc
.env
.env.local

data/
yolo_train/
module1_traffic_light/
module3_segmentation/
module2_localization/data/
module2_localization/out/
module2_localization/map_for_office/
module2_localization/tools/
module2_localization/viz.py

module2_localization/maps/**/database.db
module2_localization/maps/**/pairs.txt
